.heroSection {
  background-image: url('../images/catamaran-au-large.jpeg');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  position: relative;
  border-radius: 10px 10px 0 0 ;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  
}
h1{
  font-size: 4rem;
}

.heroContent {
  max-width: 960px;

  position: absolute;
  padding: 20px;
  top: 50px;
  left: 100px;

}

.heroNavigation a {
  margin: 0 10px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  display: flex;
  line-height: 3rem;
  font-size: 1.2rem;
}

.heroNavigation a:hover {
  text-decoration: underline;
}

.arrowIcon{
  width: 2rem;
  height: 2rem;
  padding-right: 20px;
}

p{
  text-align-last: left;
  font-size: 1.1rem;
}


@media (max-width: 768px) {
  .heroSection {
    height: 600px;
  }
  
  .heroContent h1 {
    font-size: 24px;
  }
  
  .heroNavigation a {
    font-size: 14px;
  }
}
