.cardsContainer {
	display: flex;
	justify-content: space-around;
	padding: 20px;
	margin-left: auto;
	margin-right: auto;
	background-color: #ffff;
	flex-wrap: wrap;
	
}
.teysisTitle {
	text-align: center;
	letter-spacing: 5px;
	color: #004587;
	padding: 60px 0;
	padding: 40px 0;
	margin-bottom: 0;
	margin-top: 50px;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 2rem;
	font-family: "Playfair Display", serif;
	letter-spacing: 2px;
}
.mirage18 {
	text-align: center;
	margin-top: 30px;
	width: 100%;
}

.mirage18 img {
	width: 100%;
	object-fit: contain;
}
.card {
	width: 30%;
	padding: 15px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	border-radius: 8px;
	text-align: center;
	background-color: #f8f8f8;
	background-color: rgba(255, 255, 255, 0.8);
	margin-bottom: 20px;
}

.cardTitle {
	font-size: 1.5rem;
	margin: 15px;
	color: #003366;
	text-transform: uppercase;
	font-weight: bolder;
	
	letter-spacing: 2px;
	font-family: "Playfair Display", serif;
}

.cardImage {
	width: 100%;
	height: 300px;
	background-color: RGB(177, 177, 177);
	background-color: #fff;
	object-fit: contain;
	margin: 20px 20px;
	border-radius: 8px;
}

.cardDescription {
	font-size: 16px;
	text-align: left;
	color: #555;
	height: 120px;
	font-weight: 500;
	margin: 20px 0 10px 0;
	width: 100%;
	padding: 0 20px;
	margin-right: auto;
	margin-left: auto;
	color: rgba(0, 0, 0, 0.87);
	font-weight: 400;
	
}


.cardImageContainer {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.viewDetailsButton {
	padding: 10px 20px;
	background-color: RGB(86, 133, 160);
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s ease;
	margin-top: 10px;
}

.viewDetailsButton:hover {
	background-color: #0056b3;
}
.logTeysis {
	position: relative;
	z-index: 10;
}

.logoImage {
	object-fit: cover;
	width: 220px;
	display: block;
	margin-right: auto;
	margin-left: auto;
	padding: 20px;
}
.fadeImage {
	transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.fadeOut {
	opacity: 0;
	transform: translateY(-20px); /* Déplace l'image vers le haut */
}
.zoomFadeOut {
	opacity: 0;
	transform: scale(0.8); /* Réduit légèrement l'image */
	transition: opacity 2s ease-in-out, transform 2s ease-in-out;
}

@media (max-width: 1440px) {
	.cardsContainer {
		padding: 0;
	}
	
	.cardDescription {
		height: 160px;
		
	}
	.teysisTitle {
		font-size: 2rem;
		letter-spacing: 2px;
	}
	.cardImage {
		object-fit: contain;
		margin-bottom: 0;
	}
}

@media (max-width: 1024px) {
	.cardsContainer {
		width: 100%;
		flex-wrap: wrap;
	}
	.card {
		width: 48%;
		flex-wrap: wrap;
		margin-bottom: 20px;
	}
	.cardImage {
		width: 100%;
	}
}

@media (max-width: 1024px) {
	.cardsContainer {
		max-width: 1024px;
		padding: 0;
	}
}

@media (max-width: 768px) {
	.cardsContainer {
		max-width: 768px;
	
		padding: 0;
		
	}
	.card {
		width: 80%;
		margin: 0 auto;
		padding: 0;
	}
	.cardTitle{
		margin-top: 40px;
		margin-bottom: 0;
	}
	.cardImageContainer{
		width: 100%;
	}

	.cardDescription {
		max-width:100%;
		height: 150px;
	}
	.cardImage {
		margin: 20px 0;
	}
	.viewDetailsButton {
		margin-bottom: 20px;
	}
}
@media (max-width: 430px) {
	.cardsContainer {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		padding: 0px;
		margin-left: auto;
		margin-right: auto;
		flex-wrap: wrap;
		max-width: none;
	}
	.card {
		margin-bottom: 10px;
		width: 90%;
		padding: 0;
		 margin: 0 auto 10px auto; 
	}
	.cardImage {
		object-fit: contain;
		margin: 0;
	}
	.cardDescription {
		padding: 8px;
		box-sizing: border-box;
		display: block;
		height: 220px;
		
	margin: 0;
		width: 100%;
	}


	.teysisTitle {
		text-align: center;
		font-size: 1.8rem;
		color: #004587;
		
	}
}

@media (max-width: 375px) {
	.card{
		margin-top: 20px;
	}
	.teysisTitle {
		text-align: center;
		font-size: 1.3rem;
		font-weight: 800;
		letter-spacing: 3px;
		color: #004587;
		padding-bottom: 10px;
	}

	.cardDescription {
		font-size: 14px;
		height: 150px;
		font-weight: 600;
	}
	.cardImage {
		height: 300px;
	}
	.logoImage {
		width: 160px;
		margin-bottom: 10px;
	}
	.cardTitle :first-child {
		color: #213547;
		
	}
}
