.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 20px;
}

.hamburger-menu {
	position: relative;
	text-align: center;
	width: 120px;
}

.hamburger-menu .navigation {
	display: none;
	flex-direction: column;
	position: absolute;
	top: 60px;
	right: 0;
	width: 30%;
	box-shadow: 0 4px 8px rgba(94, 97, 104, 0.903);
	z-index: 1000;
}

nav.navigation.show {
	display: flex;
}

.navigation.show {
	position: absolute;
	top: 50px;
	text-align: center;
}

.hamburger-menu .navigation a {
	text-decoration: none;
	border-bottom: 1px solid #ddd;
	font-size: 10px;
	margin: 0;
	padding: 10px;
	width: 100%;
}

.hamburger-menu .navigation a:hover {
	background-color: #f0f0f028;
}

/* Afficher la navigation mobile si isOpen est true */
.hamburger-menu .navigation.show {
	display: flex; /* Affiche le menu hamburger lorsqu’il est ouvert */
	width: 130px;
	height: 140px;
	border-radius: 8px;
}
.hamburger-menu .navigation.show a {
	line-height: 15px;
	padding: 5px 5px;
	font-size: 9px;
	font-weight: 800;
}

/* Responsive styles */
@media (max-width: 768px) {
	.desktop-navigation {
		display: none; /* Cache la navigation de bureau sur mobile */
	}
	.mobile-navigation {
		display: flex; /* Affiche le menu hamburger */
		align-items: center;
		text-align: right;
	}
	.menu-toggle {
		width: 100%;
	}
	.hamburger-menu {
		width: 400px;
	}

	.navigation.show {
		width: 100%;
		background-color: RGB(86, 133, 160);
	}
	.hamburger-menu {
		width: 120%;
	}

	.navigation.show a {
		letter-spacing: 0;
		font-size: 8px;
		padding: 0;
		margin-left: 0;
		color: whitesmoke;
		width: 100%;
		border: none;
		text-transform: uppercase;
		line-height: 2;
		z-index: 1000;
		font-weight: 700;
		letter-spacing: 2px;
	}
}
