/* Styles de base pour le conteneur de l'en-tête */
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 20px;
}

.logo img {
	width: 60px;
	margin-left: 30px;
	margin-top: 30px;
	margin-bottom: 30px;
	animation: slideInOut 36s ease-in-out 1;
	animation-delay: 3s;
	opacity: 1;
}

.hamburger-menu{
	position: relative;
}

/* Styles du menu hamburger */
.hamburger-menu .menu-toggle {
	font-size: 24px;
	cursor: pointer;
	background: none;
	border: none;
	display: block;
	z-index: 1001; /* Assurez-vous que le bouton est au-dessus du contenu */
}

.hamburger-menu .navigation {
	display: none; 
	flex-direction: column;
	position: absolute;
	top: 60px;
	right: 0;
	width: 30%;
	background-color: #ddd;
	box-shadow: 0 4px 8px rgba(94, 97, 104, 0.903);
	z-index: 1000;
}
.navigation.show{
	position: absolute;
	top: 70px;
	right: 10px;
	width: 140px;
	text-align-last: left;
	
	padding: 0;
}

.hamburger-menu .navigation a {
	padding: 15px;
	color: #000;
	text-decoration: none;
	border-bottom: 1px solid #ddd;
	width: 150px;
	
	margin-right: 0;
	padding: 10px;
}

.hamburger-menu .navigation a:hover {
	background-color: #f0f0f0;
}

/* Afficher la navigation mobile si isOpen est true */
.hamburger-menu .navigation.show {
	display: flex; /* Affiche le menu hamburger lorsqu’il est ouvert */
}

/* Responsive styles */
@media (max-width: 768px) {
	.desktop-navigation {
		display: none; /* Cache la navigation de bureau sur mobile */
	}
	.mobile-navigation {
		display: flex; /* Affiche le menu hamburger sur mobile */
		
		
	}
}

