.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 20px;
}

.hamburger-menu {
	position: relative;

}

.hamburger-menu .navigation {
	display: none;
	flex-direction: column;
	position: absolute;
	top: 60px;
	right: 0;
	width: 30%;
	background-color: #ddd;
	box-shadow: 0 4px 8px rgba(94, 97, 104, 0.903);
	z-index: 1000;
	
}

nav.navigation.show{
	display: flex;
	
}

.navigation.show {
	position: absolute;
	top: 50px;
	right: 10px;
	text-align: center;
	padding: 0;
	
}

.hamburger-menu .navigation a {
	text-decoration: none;
	border-bottom: 1px solid #ddd;
	font-size: 8px;
	margin: 0;
	padding: 10px;
	
}

.hamburger-menu .navigation a:hover {
	background-color: #f0f0f028;
	
}

/* Afficher la navigation mobile si isOpen est true */
.hamburger-menu .navigation.show {
	display: flex; /* Affiche le menu hamburger lorsqu’il est ouvert */
}

/* Responsive styles */
@media (max-width: 768px) {
	.desktop-navigation {
		display: none; /* Cache la navigation de bureau sur mobile */
	}
	.mobile-navigation {
		display: flex; /* Affiche le menu hamburger */
		align-items: center;
		text-align: left;
		
	}
	
	.navigation.show{
		width: 100%;
		background-color: RGB(86, 133, 160);
	}

	.navigation.show a{
	text-transform: lowercase;
	letter-spacing: 0;
	font-size: 16px;
	padding: 0;
	margin-left: 0;
	color: whitesmoke;
	width: 100%;
	border: none;

	
	z-index: 1000;
	}
}
