.nav {
	height: 90px;
	width: 100%;
	background-color: RGB(86, 133, 160);
	background-color: #f8f8f8;
	top: 0;
	z-index: 2000;

}

header {
	position:fixed;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: stretch;
	padding: 0;
	left: 0px;
	top: 0px;
	height: 90px;

}
.main-content {
	padding-top: 30px; /* La même hauteur que le header */
}
.logo {
	width: 200px;
}
/*menu classique */
.navigation a {
	color: #ffffff;
	margin: 0 20px 0 5PX;
	width: 40px;
	font-size: 14px;
	letter-spacing: 2.5px;
	color: black;
	font-weight: bold;
	margin-right: 30px;
	
}

.contact {
	border: solid white 2px;
	padding: 5px;
	border-radius: 20px;
}

.logo img {
	margin-left: 30px;
	margin-top: 30px;
	margin-bottom: 30px;
	animation: slideInOut 36s ease-in-out 1;
	animation-delay: 3s;
	opacity: 1;
	height: 30px;
}
/*
.menu-toggle {
	display: block;
	margin-right: 50px;
	color: #ffffff;
}*/
/* Styles du menu hamburger */
.hamburger-menu .menu-toggle {
	font-size: 18px;
	cursor: pointer;
	background: none;
	border: none;
	display: block;
	z-index: 1001;
	margin-right: 15px;
	color: #ffffff;
	color: black;
	
}

@keyframes slideInOut {
	0% {
		opacity: 0;
		transform: translateX(100%);
	}
	10% {
		opacity: 1;
		transform: translateX(0);
	}
	50% {
		opacity: 1;
	}
	60% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.desktop-navigation {
	display: flex;
}

.mobile-navigation {
	display: none;
}

@media(max-width: 1440px){
	.navigation a{
		margin-right: 20px;
		
	}
}



@media(max-width: 1024px){
	.nav{
		max-width: 1024px;
	}
}
	

/* Styles pour petits écrans */
@media (max-width: 768px) {
	.desktop-navigation {
		display: none; /* Masque la navigation de bureau */
	}
	.nav{
		width: 768px;
		
	}
	
	
}

@media(max-width: 430px){
	.nav{
		max-width: 430px;
	}
}

@media (max-width: 425px) {
	.nav {
		max-width: 425px;
	}
}
@media (max-width: 375px) {
	.nav {
		max-width: 375px;
	}
	
}
@media (max-width:320px){
	.nav{
		max-width: 320px;
	}
}
