.titleHomeNew {
  font-size: 2rem;
  padding-bottom: 10px;
  color: #004587;
  text-transform: uppercase;
  padding: 40px 0 10px;
  text-align: center;
}

.linkContainer {
  text-decoration: none;
  color: inherit;
  display: block;
  text-align: center;
}

.scrollContainer {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  position: relative;
}

.gallery {
  display: flex;
  gap: 0; /* Supprime les espaces entre les images */
  width: max-content; /* Permet le défilement fluide */
  animation: scrollLeft 100s linear infinite; /* Animation automatique */
}

.image {
  object-fit: cover;
  width: auto;
  height: 200px;
  transition: transform 0.3s ease-in-out;
  background-color: rgba(128, 128, 128, 0.747);
}
.fadeOut {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

/* Ajout d'un effet au survol */
.image:hover {
  transform: scale(1.05);
}

/* Définition de l'animation */
@keyframes scrollLeft {
  0% {
    transform: translateX(0); /* Départ à la position initiale */
  }
  100% {
    transform: translateX(-50%); /* Déplace à gauche de 50% (moitié des images dupliquées) */
  }
}

@media (max-width: 1440px) {
  .image {
    width: 300px;
    height: auto;
  }
}

@media (max-width: 1024px) {
  .titleHomeNew {
    font-size: 1.5rem;
  }
}

/* Désactiver l'animation sur les petits écrans si nécessaire */
@media (max-width: 768px) {
  .gallery {
    animation: none; /* Désactive l'animation sur petits écrans */
  }
  .scrollContainer {
    overflow-x: auto; /* Permet le défilement manuel */
  }
  .image {
    width: 48%;
    padding: 0;
    border-radius: 8px;
    margin-top: 12px;
  }
}
.gallery:hover {
  animation-play-state: paused;
}

@media (max-width: 430px) {
  .image {
    width: 100%;
    padding: 8px;
    background-color: transparent;
    margin-top: 0;
  }
  .titleHomeNew {
    font-size: 1rem;
  }
}
